* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg,#00c6ff,#8e2de2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  width: 300px;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 20px 40px rgb(0, 0, 0);
  text-align: center;
}

.cover img {
  width: 60%;
  border-radius: 15px;
  transition: all 0.3s ease ;
}
.cover img:hover {
  transform: scale(1.1);

}

.song-info {
  margin: 15px 0;
}

.song-info h2 {
  font-size: 18px;
}

.song-info p {
  color: #666;
  font-size: 14px;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.progress {
  width: 40%;
  height: 100%;
  background: #667eea;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
}

.controls {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.btn {
  border: none;
  background: #eee;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #667eea;
  color: white;
  transform: scale(1.1);
}

.play {
  background: #667eea;
  color: white;
}
